- name: Create db instance
  hosts: localhost
  gather_facts: False
  roles:
    - role: ec2_base
      vars:
        #keypair: ansible-demo
        #instance_type: t2.micro
        #image: ami-0552e3455b9bc8d50
        #region: us-east-2
        ec2_total_count: 1
        i_tags:
          Type: Ansible_Deployed
          Class: MySQL
        c_tag:
          Class: MySQL
        ec2_groups:
          - ssh-only
          - mysql all

- name: Create web instances
  hosts: localhost
  gather_facts: False
  vars_prompt:
    - name: "ec2tc"
      prompt: "How many ec2 web instances in total?"
      private: no
  roles:
    - role: ec2_base
      vars:
        #keypair: ansible-demo
        #instance_type: t2.micro
        #image: ami-0552e3455b9bc8d50
        #region: us-east-2
        ec2_total_count: "{{ ec2tc }}"
        i_tags:
          Type: Ansible_Deployed
          Class: Flask
        c_tag:
          Class: Flask
        ec2_groups:
          - ssh-only
          - flask all


- name: Install Ansible required Python
  hosts: tag_Type_Ansible_Deployed
  gather_facts: False
  roles:
    - ansible-python

- name: Provision MySQL
  hosts: tag_Class_MySQL
  roles:
    - python
    - mysql

- name: Deploy Web
  hosts: tag_Class_Flask
  pre_tasks:
    - name: Get IP of MySQL
      delegate_to: localhost
      ec2_instance_facts:
        region: "{{region}}"
        filters:
          "tag:Class": "MySQL"
          instance-state-name: running
        #aws_access_key:
        #aws_secret_key:
      register: ec2
    - debug: var=ec2['instances'][0]['public_ip_address']

  environment:
    MYSQL_DATABASE_HOST: "{{ ec2['instances'][0]['public_ip_address'] }}"
    #MYSQL_DATABASE_HOST: 18.188.113.57
    #shell: "echo $MYSQL_DATABASE_HOST"

  roles:
    - python
    - flask

- name: add target group for alb
  hosts: localhost
  pre_tasks:
    - name: Get web instance id's
      ec2_instance_facts:
        region: "{{region}}"
        filters:
          "tag:Class": "Flask"
          instance-state-name: running
        #aws_access_key:
        #aws_secret_key:
      register: ec2targets
    - debug:
        var: item['instance_id']
      #register: with_output
      #debug: var=with_output
      with_items: "{{ ec2targets['instances'] }}"

  roles:
    - alb-target-group


- name: add alb
  hosts: localhost
  roles:
    - aws-alb
